<div class="page__footer-follow">
    <ul class="social-icons">
        <li><a href="https://x.com/forbesjon2" rel="nofollow noopener noreferrer"><i class="fab fa-fw fa-x-twitter" aria-hidden="true"></i></a></li>          
        <li><a href="https://github.com/forbesjon2" rel="nofollow noopener noreferrer"><i class="fab fa-fw fa-github" aria-hidden="true"></i></a></li>
        <li><a href="/feed.xml"><i class="fas fa-fw fa-rss" aria-hidden="true"></i> </a></li>
    </ul></div>
    <div class="page__footer-copyright">© 2025 <a href="http://localhost:4000">John's Blog</a>
        </div>